body {
  background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8553.jpg?semt=ais_incoming&w=740&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
